# Node.js
/node_modules
/healthcare-frontend/node_modules
/healthcare-backend/node_modules

# Python
/__pycache__
*.pyc

# Environment variables
.env
/healthcare-frontend/.env
/healthcare-backend/.env
